{% trans_default_domain 'FOSUserBundle' %}
{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block fos_user_content %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="d-flex justify-content-center btn-group" data-toggle="buttons">
        <label class="btn btn-light-blue form-check-label active">
            <input class="form-check-input" type="radio" name="options" id="connexion" autocomplete="off"> Se connecter
        </label>
        <label class="btn btn-light-blue form-check-label">
            <input class="form-check-input" type="radio" name="options" id="register" autocomplete="off"> S'inscrire
        </label>
    </div>
    <br/>

    <form action="{{ path("fos_user_security_check") }}" method="post" class="login100-form validate-form">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}

        <span class="login100-form-title p-b-59">
            Connexion
        </span>

        <div class="wrap-input100 validate-input" data-validate="Saisissez un nom d'utilisateur">
            <span class="label-input100">{{ 'security.login.email'|trans }}</span>
            <input class="input100" type="text" id="email" name="_email" value="{{ last_username }}" autocomplete="email">
            <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Saisissez un mot de passe">
            <span class="label-input100">{{ 'security.login.password'|trans }}</span>
            <input class="input100" type="password" id="password" name="_password" required="required" autocomplete="current-password">
            <span class="focus-input100"></span>
        </div>

        <div class="flex-m w-full p-b-33">
            <div class="contact100-form-checkbox">
                <input class="input-checkbox100" id="remember_me" type="checkbox" name="_remember_me">
                <label class="label-checkbox100" for="remember_me">
								<span class="txt1">
									{{ 'security.login.remember_me'|trans }}
								</span>
                </label>
            </div>
        </div>

        <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
                <div class="login100-form-bgbtn"></div>
                <button class="login100-form-btn" id="_submit" name="_submit">
                    {{ 'security.login.submit'|trans }}
                </button>
            </div>

            <a href="{{ path('fos_user_registration_register') }}" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
                Créer un compte
                <i class="fa fa-long-arrow-right m-l-5"></i>
            </a>
        </div>
    </form>
{% endblock fos_user_content %}